.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.character-card {
    background-color: #121212;
    color: #0f9d58;
    cursor: pointer;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: var(--delay);
}

.character-card:nth-child(1) { --delay: 0s; }
.character-card:nth-child(2) { --delay: 0.1s; }
.character-card:nth-child(3) { --delay: 0.2s; }
.character-card:nth-child(4) { --delay: 0.3s; }
.character-card:nth-child(5) { --delay: 0.4s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.character-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #222;
}
