<div class="page-container">
    <div class="container">
        <img src="assets/logo.svg" alt="Company Logo" class="company-logo" />
        <p>{{title}}</p>
        <h1>{{subTitle}}</h1>
        <div class="navigation-wrapper">

            <!-- Left navigation button -->
            <button
                *ngIf="page > 0"
                class="nav-button"
                (click)="prevGroup()"
                (keydown.enter)="prevGroup()"
                aria-label="Previous group">
                <i class="fa-solid fa-chevron-left nav-icon"></i>
            </button>

            <div class="wrapper">
                <div *ngFor="let member of visibleMembers" class="card">
                    <div class="profile-img">
                        <img [src]="member.image" [alt]="member.name" />
                    </div>
                    <div class="content">
                        <h3>{{ member.name }}</h3>
                        <p>{{ member.title }}</p>
                        <div class="social-media">
                            <i class="fa-brands fa-square-linkedin"></i>
                            <i class="fa-brands fa-youtube"></i>
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right navigation button -->
            <button
                *ngIf="(page + 1) * 5 < teamMembers.length"
                class="nav-button"
                (click)="nextGroup()"
                (keydown.enter)="nextGroup()"
                aria-label="Next group">
                <i class="fa-solid fa-chevron-right nav-icon"></i>
            </button>

        </div>
    </div>
</div>