<div class="banner">
    <h1>Welcome to the Ben 10 Universe</h1>
    <div class="animated-text">
        <span>Hero</span>
        <span>Alien</span>
        <span>Adventure</span>
    </div>
    <img src="https://wallpaperaccess.com/full/2425456.jpg" alt="Ben 10 Logo" class="banner-image" />
    <img src="https://wallpaperaccess.com/full/9382156.jpg" alt="Ben 10 character on left" class="bottom-left-image" />
    <img src="https://wallpaperaccess.com/full/9382093.jpg" alt="Ben 10 character on right" class="bottom-right-image" />
    <div class="nav-buttons">
        <button [routerLink]="['/characters']">Characters</button>
    </div>
</div>
